h1{
	font-family: Arial;
	font size: 250%;
	color: white;
}

body{
	background-color: #555;
	margin-top:100;
}

#pic{
	max-width: 100%;
}

/* Add a black background color to the top navigation */
.menu {
    width: 99%;
    background-color: grey;
    overflow: hidden;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    display: inline-block
}

/* Style the links inside the navigation bar */
.menu a {
    width: 8%;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    white-space: normal;
}

/* Change the color of links on hover */
.menu a:hover {
    font-size: 20px;
    background-color: black;
    color: yellow;
}