#body{
    width : 100%;
}

body {
background-image: url(Picture art/Background.jpg); /*You will specify your image path here.*/

-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
background-attachment: fixed;
text-shadow: 0 1px black;
}

body{
	background-color: #555;
	margin-top:100;
}

hr{
    margin-bottom: 200;
}

#intro{
    margin-top: 100;
	font-family: 'Nobile', Georgia, Times, serif;
	font size: 200%;
}

h1{
	color: white;
}


#Top{
	width: 100%;
	margin: 0;
	padding: 0;
}
h3{
	font-family: 'Nobile', Georgia, Times, serif;
	color: white;
}

.menu {
    width: 99%;
    background-color: grey;
    overflow: hidden;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    display: inline-block
}

/* Style the links inside the navigation bar */
.menu a {
    width: 8%;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    white-space: normal;
}

/* Change the color of links on hover */
.menu a:hover {
    font-size: 20px;
    background-color: black;
    color: yellow;
}