#body{
    width : 100%;
}

body {
background-image: url(Picture art/Background.jpg); /*You will specify your image path here.*/

-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
background-attachment: fixed;
text-shadow: 0 1px black;
}

body{
    background-color: #555;
    margin-top:100;
}

hr{
    margin-bottom: 200;
}

#intro{
    margin-top: 100;
    font-family: 'Nobile', Georgia, Times, serif;
    font size: 200%;
}

h1{
    color: black;
}


#Top{
    width: 100%;
    margin: 0;
    padding: 0;
}
h3{
    font-family: 'Nobile', Georgia, Times, serif;
    color: white;
    margin-top:20;
}

.menu {
    width: 99%;
    background-color: grey;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    text-align: center;
    z-index:99999;
}

/* Style the links inside the navigation bar */
.menu .menuItem a{
    width: 12.27%;
    float: left;
    color: white;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 20px;

    white-space: normal;
}


/* Change the color of links on hover */
.menu a:hover {
    background-color: black;
    color: yellow;
}

/* Change the color of links on hover */
.menu a:hover {
    font-size: 20px;
    background-color: black;
    color: yellow;
}

@media screen and (max-width:800px) {
    .intro h1{
        font-family: Arial;
        font-size: 4vw;
        color: white;
    }

    .menu {
        width: 99%;
        background-color: grey;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;

        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        text-align: center;
    }

    /* Style the links inside the navigation bar */
    .menu .menuItem a{
        width: 12%;
        float: left;
        color: white;
        text-align: center;
        padding: 2% 1%;
        text-decoration: none;
        font-size: 16px;
        white-space: normal;
    }


    /* Change the color of links on hover */
    .menu a:hover {
        background-color: black;
        color: yellow;
    }

@media screen and (max-width:415px) {
    .intro h1{
        font-family: Arial;
        font-size: 5vw;
        color: white;
    }

    .menu {
        width: 99%;
        background-color: grey;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;

        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        text-align: center;
    }

    /* Style the links inside the navigation bar */
    .menu .menuItem a{
        width: 12%;
        float: left;
        color: white;
        text-align: center;
        padding: 2% 1%;
        text-decoration: none;
        font-size: 12px;
        white-space: normal;
    }


    /* Change the color of links on hover */
    .menu a:hover {
        background-color: black;
        color: yellow;
    }