.intro h1{
    font-family: Arial;
    font-size: 3vw;
    color: white;
}

.hoverPic img{
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    padding: 1%;
}

.hoverPic{
    position: relative;
    width: 31%;
    height: 20vw;
    float: left;
    padding: 1%;
}

.hoverPic:hover img{
    opacity: 0.25;
}

.hoverPic:hover .textInfo{
    opacity: 1;
}

.hoverPic:hover .picButton{
    opacity: 1;
}

.textInfo{
    margin-top: 10%;
    text-align: center;
    position: absolute;
    width:95%;
    height:70%;
    opacity: 0;
}

.textInfo .text{
    font-size: 20px;
    color: white;
}

.textInfo .picButton{
    margin-top: 10%;
    margin-left: 30%;
    width:40%;
    height:20%;
    background-color: green;
    text-align: center;
    opacity: 0;
}

.textInfo a{
    text-decoration: none;
    margin-top: 20%;
    color:white;
    font-size: 15px;
    margin:10%;
}

.picButton h4{
    text-decoration: none;
    margin-top: 50%;
    color:white;
    font-size: 15px;
    margin:10%;
}

.hoverPic_v img{
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    padding: 1%;
}

.hoverPic_v{
    position: relative;
    width: 31%;
    height: 42vw;
    float: left;
    padding: 1%;
}

.hoverPic_v:hover{
    opacity: 0.25;
}

.allPic_horizontal{
    margin-left:5 ;
    width: 100%;
    height:auto;
}

.allPic_horizontal{
    margin-left:5 ;
    width: 100%;
    height:auto;
}

body{
	background-color: #555;
	margin-top:100;
}

.menu {
    width: 99%;
    background-color: grey;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    text-align: center;
    z-index:99999;
}

/* Style the links inside the navigation bar */
.menu .menuItem a{
    width: 12.27%;
    float: left;
    color: white;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 20px;

    white-space: normal;
}


/* Change the color of links on hover */
.menu a:hover {
    background-color: black;
    color: yellow;
}

@media screen and (max-width:800px) {
    .intro h1{
        font-family: Arial;
        font-size: 4vw;
        color: white;
    }

    .menu {
        width: 99%;
        background-color: grey;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;

        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        text-align: center;
    }

    /* Style the links inside the navigation bar */
    .menu .menuItem a{
        width: 12%;
        float: left;
        color: white;
        text-align: center;
        padding: 2% 1%;
        text-decoration: none;
        font-size: 16px;
        white-space: normal;
    }


    /* Change the color of links on hover */
    .menu a:hover {
        background-color: black;
        color: yellow;
    }

.hoverPic img{
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    padding: 1%;
}

.hoverPic{
    position: relative;
    width: 47%;
    height: 30vw;
    float: left;
    padding: 1%;
}

.hoverPic:hover{
    opacity: 0.3;
}

.hoverPic_v img{
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    padding: 1%;
}

.hoverPic_v{
    position: relative;
    width: 47%;
    height: 65vw;
    float: left;
    padding: 1%;
}

.hoverPic_v:hover{
    opacity: 0.3;
}

    .allPic_horizontal{
        margin-left:5 ;
        max-width: 100%;
    }

    .allPic_horizontal{
        margin-left:5 ;
        max-width: 100%;
    }    
}    

@media screen and (max-width:415px) {
    .intro h1{
        font-family: Arial;
        font-size: 5vw;
        color: white;
    }

    .menu {
        width: 99%;
        background-color: grey;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;

        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        text-align: center;
    }

    /* Style the links inside the navigation bar */
    .menu .menuItem a{
        width: 12%;
        float: left;
        color: white;
        text-align: center;
        padding: 2% 1%;
        text-decoration: none;
        font-size: 12px;
        white-space: normal;
    }


    /* Change the color of links on hover */
    .menu a:hover {
        background-color: black;
        color: yellow;
    }

    .hoverPic img{
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    padding: 1%;
    }

    .hoverPic{
        position: relative;
        width: 95%;
        height: 62vw;
        float: left;
        padding: 1%;
    }

    .hoverPic:hover{
        opacity: 0.3;
    }

    .hoverPic_v img{
        position: relative;
        width: 100%;
        height: 100%;
        float: left;
        padding: 1%;
    }

    .hoverPic_v{
        position: relative;
        width: 98%;
        height: 125vw;
        float: left;
        padding: 1%;
    }

    .hoverPic_v:hover{
        opacity: 0.3;
    }

    .allPic_horizontal{
        margin-left:5 ;
        max-width: 100%;
    }

    .allPic_horizontal{
        margin-left:5 ;
        max-width: 100%;
    }    
}    